<div class="container d-flex justify-content-center align-items-center signup">
    <div class="jumbotron">
        <h1 class="text-center">REGISTER</h1>
        <br />
        <form class="form" action="/signup" method="post" role="form" autocomplete="off">
            <div class="form-group">
                <input id="nombre" name="username" placeholder="Username" class="form-control" type="text" required />
            </div>

            <div class="form-group">
                <input id="password" name="password" placeholder="Password" class="form-control" type="password" required />
            </div>

            <div class="form-group text-center">
                <input class="btn btn-success my-3" type="submit" value="SignUp" />
            </div>
        </form>

        <hr />

        <div class="text-left">
            <button class="btn btn-success my-3" onclick="location.href = '/login'">
                LogIn
            </button>
        </div>
    </div>
</div>
<style>
    h1 {
        color: blue;
    }

    .signup{
        margin-top: 3rem !important;
    }
</style>